
  <div class='card'>
    <div class='card-header'>
      {{pageTitle + ': ' + shoe?.brand}}
    </div>
  
    <div class='card-body'
         *ngIf='shoe'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='row'>
            <div class='col-md-4'>Name:</div>
            <div class='col-md-8'>{{shoe.brand}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>ID:</div>
            <div class='col-md-8'>{{shoe.rating}}</div>
          </div>

          <div class='row'>
            <div class='col-md-4'>Color:</div>
            <div class='col-md-8'>{{shoe.color}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Size:</div>
            <div class='col-md-8'>{{shoe.size}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>ID:</div>
            <div class='col-md-8'>{{shoe.id}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>5 Star Rating:</div>
            <div class='col-md-8'>
              <jss-stars-component [rate]='shoe.rating'>
              </jss-stars-component>
            </div>
          </div>
        </div>
  
        <div class='col-md-4'>
          <img class='center-block img-responsive'
               [style.width.px]='200'
               [style.margin.px]='2'
               [src]='shoe.imageUrl'
               [title]='shoe.brand' alt="shoe">
        </div>
      </div>
    </div>
  
    <div class='card-footer'>
      <button class='btn btn-outline-secondary'
              style='width:80px'
              (click)='onBack()'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
    </div>
  </div>
