/* .card-header{
    background-color: rgb(134, 220, 239);
    text-align: center;
    color: white;
    font-weight: 600;
}

.card-footer{
    background-color:white;
    color: white;
    font-weight: 600;
} */

h3{
  font-weight: 800;
}

.col-md-2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px; 
    height: 150px;
}

  img{
    width: 250px;
    height: 150px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
