<div>
    <div class="card">
        <div></div>
        <div class="card-header">
            <h4>{{componentTitle}}</h4>
        </div>

        <div class="card-body">

            <div></div>

            <div class="row">

                <div class="col-md-2" style="font-size: larger; font-style: italic; font-weight: 700;">
                    Filter By:
                </div>

                <div class="col-md-2"
                        style="margin-bottom: 20px;">

                    <input title="inputfield"
                        type="text"
                        [(ngModel)] = filteredString/>  <!-- quotation not required on property binding between component template and component class-->
                </div>

            </div>

            <div class="row">
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <button type="button" class="btn btn-primary" (click)="toggleImage()">
                                    {{showImage?'Hide':'Show'}} Image
                                </button>
                            </th>
                            <th>Brand</th>
                            <th>Size</th>
                            <th>Color</th>
                            <th>Stars</th>
                        </tr>
                    </thead>

                    <tbody>
                    
                        <tr *ngFor="let shoe of filteredList">
                        
                            <td>
                                <img alt=''       
                                 *ngIf=showImage
                                [src]="shoe.imageUrl"
                                [title]="shoe.brand"
                                [style.width.px]="imageWidth"
                                [style.margin.px]="imageMargin"
                                >
                            </td>
                            <td>
                                <a [routerLink]="['/shoes',shoe.id]"
                                    style="font-size: larger;font-weight: 800;">
                                    {{shoe.brand}}
                                </a>
                            </td>
                            <td>{{shoe.size}}</td>
                            <td>{{shoe.color | convertToSpace: ':'}}</td>
                            <td>
                                <jss-stars-component 
                                    [rate]='shoe.rating'
                                    (clickStarRating)='onRatingClickEvent($event)'>
                                </jss-stars-component>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>