
<nav class='navbar navbar-expand navbar-light bg-light'> 
  
  <a class='navbar-brand nav-link' routerLink='/shoes'>{{title}}</a>

  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLink='/welcome'>Home</a></li>
    <li><a class='nav-link' routerLink='/shoes'>Shoe List</a></li>
  </ul>
  
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
