/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(173, 220, 152);
}


 .card{
    background-color: rgb(79, 232, 240);
}

.card-header{
    background-color: rgb(96, 158, 246);
    text-align: center;
    color: white;
    font-weight: 600;
}

.card-footer{
    background-color:white;
    font-weight: 600;
}
