﻿<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/logo.png" alt="logo"/>
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Sifiso Mhlongo</h3>
      </div>

      <div class="text-center">@Cphyso</div>
      <div class="text-center">
        <a href="http://gitlab.com/sifisoxmhlongo">www.gitlab.com/sifisoxmhlongo</a>
      </div>
    </div>
  </div>
</div>